.frequencies {
  width: calc(100% - 82px);
  max-height: calc(100vh - 210px);
  margin: 98px 24px 80px;
  padding: 16px;
  background-color: var(--bg);
  border: 1px solid var(--second);
  border-radius: 16px;
}

.frequencies.modeOpen {
  position: relative;
  background-color: var(--color4);
  border-color: var(--color2);
}

.frequencies .dialogContent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.frequencies .dialogContent .dialog {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.frequencies .dialogContent .dialog .appDialog {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.frequencies .navigator {
  position: relative;
  width: 100%;
  z-index: 1;
}

.frequencies .navigator .breadCrumb {
  width: calc(100% - 112px);
  margin-right: 16px;
}

.frequencies .navigator .breadCrumb .navItem {
  margin-right: 8px;
}

.frequencies .navigator .breadCrumb .navItem .appButton:nth-child(1),
.frequencies .navigator .breadCrumb .navItem .appButton:nth-child(1) {
  display: block;
}

.frequencies .navigator .breadCrumb .navItem .appButton:nth-child(2),
.frequencies .navigator .breadCrumb .navItem .appButton:nth-child(2) {
  display: none;
}

.frequencies.modeOpen .navigator .breadCrumb .navItem .appButton:nth-child(1),
.frequencies.modeEdit .navigator .breadCrumb .navItem .appButton:nth-child(1) {
  display: none;
}

.frequencies.modeOpen .navigator .breadCrumb .navItem .appButton:nth-child(2),
.frequencies.modeEdit .navigator .breadCrumb .navItem .appButton:nth-child(2) {
  display: none;
}

.frequencies .navigator .breadCrumb .navItem:last-child {
  margin-right: 0px;
}

.frequencies .navigator .specialActions {
  width: 96px;
  justify-content: flex-end;
}

.frequencies .navigator .specialActions .action {
  margin-right: 8px;
}

.frequencies .navigator .specialActions .action:last-child {
  margin-right: 0px;
}

.frequencies .navigator .specialActions .action .appButton {
  display: block;
}

.frequencies.modeOpen .navigator .specialActions .action .appButton,
.frequencies.modeEdit .navigator .specialActions .action .appButton {
  display: none;
}

.frequencies .titulation {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 8px;
  text-align: left;
  z-index: 1;
}

.frequencies.modeOpen .titulation,
.frequencies.modeEdit .titulation {
  display: none;
}

.frequencies .titulation .title {
  width: 100%;
  color: var(--texts);
  font-size: 24px;
}

.frequencies .titulation .description {
  width: 100%;
  margin-top: 8px;
  color: var(--texts);
  font-size: 16px;
}

.frequencies .table {
  display: block;
  position: relative;
  width: 100%;
  max-height: calc(100vh - 306px);
  margin-top: 16px;
  z-index: 1;
}

.frequencies .table.pagination {
  max-height: calc(100vh - 362px);
}

.frequencies.modeOpen .table,
.frequencies.modeEdit .table {
  display: none;
}

.frequencies .cardItem {
  display: none;
  position: relative;
  width: 100%;
  max-height: calc(100vh - 250px);
  z-index: 1;
}

.frequencies .cardItem.pagination {
  max-height: calc(100vh - 250px);
}

.frequencies #modeOpen,
.frequencies #modeEdit {
  margin-top: 0px;
}

.frequencies.modeOpen #modeOpen,
.frequencies.modeEdit #modeEdit {
  display: block;
}

.frequencies.modeOpen #modeEdit,
.frequencies.modeEdit #modeOpen {
  display: none;
}

.frequencies #modeOpen .btnCloseCard {
  margin-bottom: 16px;
}

.frequencies .cardItem .values {
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-height: calc(100vh - 378px);
  margin-top: 16px;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
}

.frequencies .cardItem.pagination .values {
  max-height: calc(100vh - 378px);
}

.frequencies .cardItem .values .data {
  width: auto;
  max-width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

.frequencies .cardItem .values .data.edit {
  text-align: center;
}

.frequencies .cardItem .values .data .label {
  width: auto;
  max-width: 100%;
  margin-bottom: 8px;
  color: var(--texts);
  font-size: 14px;
}

.frequencies .cardItem .values .data .label span {
  color: var(--color1);
}

.frequencies .cardItem .values .data .value {
  width: auto;
  max-width: 100%;
  color: var(--texts);
  font-size: 14px;
}

.frequencies .cardItem .values .data .input {
  width: auto;
  max-width: 100%;
}

.frequencies .cardItem .values .dates {
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
}

.frequencies .cardItem .values .data .frequenciesMovil {
  width: auto;
  max-width: calc(100% - 2px);
  max-height: 400px;
  background-color: var(--bgInput);
  border: 1px solid var(--color2);
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: auto;
}

.frequencies .cardItem .values .data .frequenciesMovil table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

.frequencies .cardItem .values .data .frequenciesMovil table tr {
  background-color: var(--white);
  border-bottom: 1px solid var(--second);
}

.frequencies .cardItem .values .data .frequenciesMovil table tr:nth-child(1) {
  background-color: var(--color5);
  position: sticky;
  top: 0px;
}

.frequencies .cardItem .values .data .frequenciesMovil table tr:last-child {
  border-bottom: none;
}

.frequencies .cardItem .values .data .frequenciesMovil table tr th,
.frequencies .cardItem .values .data .frequenciesMovil table tr td {
  min-width: 156px;
  width: calc(calc(100% - 88px) / 4);
  max-width: calc(100% - 2px);
  padding: 8px 8px;
  color: var(--texts);
  font-size: 14px;
  text-align: left;
}

.frequencies .cardItem .values .data .frequenciesMovil table tr th.id,
.frequencies .cardItem .values .data .frequenciesMovil table tr td.id {
  min-width: 88px;
  width: 88px;
}

.frequencies .cardItem .values .data .frequenciesMovil table td.name {
  text-transform: capitalize;
}

.frequencies .cardItem .values .data .frequenciesMovil table td.touch {
  text-align: center;
}


.frequencies .cardItem .values .data .frequenciesMovil table th {
  position: sticky;
  top: 0px;
}

.frequencies .cardItem .values #nameOpen .value {
  font-size: 24px;
}

.frequencies .cardItem .values #externalIdOpen {
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.frequencies .cardItem .values #externalIdOpen .value {
  width: auto;
  padding: 8px;
  color: var(--color1);
  font-size: 14px;
  background-color: var(--color2);
  border-radius: 8px;
}

.frequencies .cardItem .values #inBlacklist .value {
  font-size: 64px;
}

.frequencies .cardItem .actions {
  width: 100%;
  margin-top: 16px;
  min-height: 40px;
  text-align: center;
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.frequencies .cardItem .actions.spinner {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.frequencies .cardItem .actions .btnAction {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.frequencies .cardItem .actions .btnAction:last-child {
  margin-right: 0px;
}

.frequencies .cardItem .actions #btnCloseOpenCustomer,
.frequencies .cardItem .actions #btnCloseEditCustomer {
  display: none;
}

.frequencies .frequencies {
  display: none;
  width: calc(100% - 34px);
  padding: 16px;
  background-color: var(--color4);
  border: 1px solid var(--color2);
  border-radius: 16px;
  text-align: center;
}

.frequencies .frequencies .label {
  color: var(--texts);
  font-size: 16px;
  margin-bottom: 16px;
}

.frequencies .frequencies .label span {
  color: var(--red);
}

.frequencies .frequencies .frequenciesTab {
  width: auto;
  max-width: calc(100% - 2px);
  background-color: var(--bgInput);
  border: 1px solid var(--color2);
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: auto;
}

.frequencies .frequencies .frequenciesTab table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

.frequencies .frequencies .frequenciesTab table tr {
  background-color: var(--white);
  border-bottom: 1px solid var(--second);
}

.frequencies .frequencies .frequenciesTab table tr:nth-child(1) {
  background-color: var(--color5);
  position: sticky;
  top: 0px;
}

.frequencies .frequencies .frequenciesTab table tr:last-child {
  border-bottom: none;
}

.frequencies .frequencies .frequenciesTab table th,
.frequencies .frequencies .frequenciesTab table td {
  width: calc(calc(100% - 88px) / 4);
  padding: 8px 8px;
  color: var(--texts);
  font-size: 14px;
  text-align: left;
}

.frequencies .frequencies .frequenciesTab table td.name {
  text-transform: capitalize;
}

.frequencies .frequencies .frequenciesTab table td.touch {
  text-align: center;
}

.frequencies .frequencies .frequenciesTab table th:first-child {
  width: 88px;
}

.frequencies .frequencies .frequenciesTab table th {
  position: sticky;
  top: 0px;
}

.frequencies .pagination {
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  min-height: 40px;
}

.frequencies.modeOpen .pagination,
.frequencies.modeEdit .pagination {
  display: none;
}

.frequencies .pagination .btnPage {
  margin-right: 8px;
}

.frequencies .pagination .btnPage:last-child {
  margin-right: 0px;
}

@media (min-width: 768px) {
  .frequencies {
    width: calc(100% - 170px);
    max-height: calc(100vh - 82px);
    margin: 24px 24px 24px 112px;
  }

  .frequencies.modeOpen,
  .frequencies.modeEdit {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .frequencies.modeOpen,
  .frequencies.modeEdit {
    position: relative;
    background-color: var(--bg);
    border-color: var(--second);
  }

  .frequencies.modeOpen .navigator .breadCrumb .navItem .appButton:nth-child(1),
  .frequencies.modeEdit .navigator .breadCrumb .navItem .appButton:nth-child(1) {
    display: block;
  }

  .frequencies.modeOpen .navigator .breadCrumb .navItem .appButton:nth-child(2),
  .frequencies.modeEdit .navigator .breadCrumb .navItem .appButton:nth-child(2) {
    display: none;
  }

  .frequencies.modeOpen .navigator .specialActions .action .appButton,
  .frequencies.modeEdit .navigator .specialActions .action .appButton {
    display: block;
  }

  .frequencies.modeOpen .titulation,
  .frequencies.modeEdit .titulation {
    display: block;
  }

  .frequencies .table {
    max-height: calc(100vh - 180px);
  }

  .frequencies .table.pagination {
    max-height: calc(100vh - 236px);
  }

  .frequencies.modeOpen .table,
  .frequencies.modeEdit .table {
    display: none !important;
  }

  .frequencies .cardItem .values {
    max-height: calc(100vh - 248px);
    margin-top: 0px;
  }

  .frequencies .cardItem.pagination .values {
    max-height: calc(100vh - 324px);
  }

  .frequencies .cardItem .values .data,
  .frequencies .cardItem .values .data.edit {
    text-align: left;
  }

  .frequencies .cardItem .values #externalIdOpen {
    align-content: flex-start;
    align-items: flex-start;
  }

  .frequencies .cardItem .values .dates {
    flex-direction: row;
  }

  .frequencies .cardItem .values .dates .data {
    width: auto;
    max-width: calc(50% - 8px);
    margin-bottom: 0px;
  }

  .frequencies .cardItem .values .dates .data:nth-child(2n+1) {
    margin-right: 8px;
  }

  .frequencies .cardItem .values .dates .data:nth-child(2n) {
    margin-left: 8px;
  }

  .frequencies .cardItem .actions {
    text-align: left;
  }

  .frequencies .cardItem .actions #btnCloseOpenCustomer,
  .frequencies .cardItem .actions #btnCloseEditCustomer {
    display: inline-block;
  }

  .frequencies.modeOpen #modeOpen,
  .frequencies.modeEdit #modeEdit {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width: auto;
    max-width: calc(100% - 42px);
    max-height: calc(100vh - 138px);
    padding: 16px;
    margin-top: 16px;
    background-color: var(--color4);
    border: 1px solid var(--color2);
    border-radius: 16px;
  }

  .frequencies.modeOpen #modeOpen.pagination,
  .frequencies.modeEdit #modeEdit.pagination {
    max-height: calc(100vh - 212px);
  }

  .frequencies.modeOpen #modeEdit,
  .frequencies.modeEdit #modeOpen {
    display: none;
  }

  .frequencies .frequencies {
    text-align: left;
  }

  .frequencies .pagination {
    justify-content: flex-start;
  }
}

@media (min-width: 1081px) {
  .frequencies {
    width: calc(100% - 158px);
    max-height: calc(100vh - 66px);
    margin: 16px 24px 16px 106px;
  }

  .frequencies .table {
    max-height: calc(100vh - 160px);
  }

  .frequencies .table.pagination {
    max-height: calc(100vh - 216px);
  }

  .frequencies.modeOpen .table,
  .frequencies.modeEdit .table {
    width: calc(100% - 458px);
  }

  .frequencies.modeOpen #modeOpen,
  .frequencies.modeEdit #modeEdit {
    width: 32%;
    max-height: calc(100vh - 196px);
  }

  .frequencies .cardItem .values {
    max-height: calc(100vh - 308px);
  }

  .frequencies.modeOpen #modeOpen.pagination,
  .frequencies.modeEdit #modeEdit.pagination {
    max-height: calc(100vh - 196px);
  }

  .frequencies.modeOpen #modeOpen .values #frecuenciasCard {
    display: none;
  }

  .frequencies .cardItem.pagination .values {
    max-height: calc(100vh - 248px);
  }

  .frequencies .cardItem .values .data .frequencies {
    overflow-x: hidden;
  }

  .frequencies .frequencies {
    display: block;
    width: calc(68% - 92px);
    max-height: calc(100vh - 194px);
    margin-top: 16px;
    margin-left: 16px;
  }

  .frequencies .frequencies .frequenciesTab {
    max-height: calc(100vh - 230px);
  }
}
