<div class="container">
  <div class="row">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="username"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <a class="waves-effect waves-light btn red darken-1" (click)="login()">Log in</a>
    </form>
  </div>
</div>
