.campaigns {
  width: calc(100% - 82px);
  max-height: calc(100vh - 210px);
  margin: 98px 24px 80px;
  padding: 16px;
  background-color: var(--bg);
  border: 1px solid var(--second);
  border-radius: 16px;
}

.campaigns.modeOpen {
  position: relative;
  background-color: var(--color4);
  border-color: var(--color2);
}

.campaigns .dialogContent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.campaigns .dialogContent .dialog {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.campaigns .dialogContent .dialog .appDialog {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.campaigns .navigator {
  position: relative;
  width: 100%;
  z-index: 1;
}

.campaigns .navigator .breadCrumb {
  width: calc(100% - 112px);
  margin-right: 16px;
}

.campaigns .navigator .breadCrumb .navItem {
  margin-right: 8px;
}

.campaigns .navigator .breadCrumb .navItem .appButton:nth-child(1),
.campaigns .navigator .breadCrumb .navItem .appButton:nth-child(1) {
  display: block;
}

.campaigns .navigator .breadCrumb .navItem .appButton:nth-child(2),
.campaigns .navigator .breadCrumb .navItem .appButton:nth-child(2) {
  display: none;
}

.campaigns.modeOpen .navigator .breadCrumb .navItem .appButton:nth-child(1),
.campaigns.modeEdit .navigator .breadCrumb .navItem .appButton:nth-child(1) {
  display: none;
}

.campaigns.modeOpen .navigator .breadCrumb .navItem .appButton:nth-child(2),
.campaigns.modeEdit .navigator .breadCrumb .navItem .appButton:nth-child(2) {
  display: none;
}

.campaigns .navigator .breadCrumb .navItem:last-child {
  margin-right: 0px;
}

.campaigns .navigator .specialActions {
  width: 96px;
  justify-content: flex-end;
}

.campaigns .navigator .specialActions .action {
  margin-right: 8px;
}

.campaigns .navigator .specialActions .action:last-child {
  margin-right: 0px;
}

.campaigns .navigator .specialActions .action .appButton {
  display: block;
}

.campaigns.modeOpen .navigator .specialActions .action .appButton,
.campaigns.modeEdit .navigator .specialActions .action .appButton {
  display: none;
}

.campaigns .titulation {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 8px;
  text-align: left;
  z-index: 1;
}

.campaigns.modeOpen .titulation,
.campaigns.modeEdit .titulation {
  display: none;
}

.campaigns .titulation .title {
  width: 100%;
  color: var(--texts);
  font-size: 24px;
}

.campaigns .titulation .description {
  width: 100%;
  margin-top: 8px;
  color: var(--texts);
  font-size: 16px;
}

.campaigns .table {
  display: block;
  position: relative;
  width: 100%;
  max-height: calc(100vh - 306px);
  margin-top: 16px;
  z-index: 1;
}

.campaigns .table.pagination {
  max-height: calc(100vh - 362px);
}

.campaigns.modeOpen .table,
.campaigns.modeEdit .table {
  display: none;
}

.campaigns .cardItem {
  display: none;
  position: relative;
  width: 100%;
  max-height: calc(100vh - 250px);
  z-index: 1;
}

.campaigns .cardItem.pagination {
  max-height: calc(100vh - 250px);
}

.campaigns.modeOpen #modeOpen,
.campaigns.modeEdit #modeEdit {
  display: block;
}

.campaigns.modeOpen #modeEdit,
.campaigns.modeEdit #modeOpen {
  display: none;
}

.campaigns #modeOpen .btnCloseCard {
  margin-bottom: 16px;
}

.campaigns .cardItem .values {
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-height: calc(100vh - 378px);
  margin-top: 16px;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
}

.campaigns .cardItem.pagination .values {
  max-height: calc(100vh - 378px);
}

.campaigns .cardItem .values .data {
  width: auto;
  max-width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

.campaigns .cardItem .values .data.edit {
  text-align: center;
}

.campaigns .cardItem .values .data .label {
  width: auto;
  max-width: 100%;
  margin-bottom: 8px;
  color: var(--texts);
  font-size: 14px;
}

.campaigns .cardItem .values .data .label span {
  color: var(--color1);
}

.campaigns .cardItem .values .data .value {
  width: auto;
  max-width: 100%;
  color: var(--texts);
  font-size: 14px;
}

.campaigns .cardItem .values .data .input {
  width: auto;
  max-width: 100%;
}

.campaigns .cardItem .values .dates {
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
}

.campaigns .cardItem .values .data .frequenciesMovil {
  width: auto;
  max-width: calc(100% - 2px);
  max-height: 400px;
  background-color: var(--bgInput);
  border: 1px solid var(--color2);
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: auto;
}

.campaigns .cardItem .values .data .frequenciesMovil table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

.campaigns .cardItem .values .data .frequenciesMovil table tr {
  background-color: var(--white);
  border-bottom: 1px solid var(--second);
}

.campaigns .cardItem .values .data .frequenciesMovil table tr:nth-child(1) {
  background-color: var(--color5);
  position: sticky;
  top: 0px;
}

.campaigns .cardItem .values .data .frequenciesMovil table tr:last-child {
  border-bottom: none;
}

.campaigns .cardItem .values .data .frequenciesMovil table th,
.campaigns .cardItem .values .data .frequenciesMovil table td {
  min-width: 128px;
  width: auto;
  max-width: calc(100% - 2px);
  padding: 8px 8px;
  color: var(--texts);
  font-size: 14px;
  text-align: left;
}

.campaigns .cardItem .values .data .frequenciesMovil table th:first-child,
.campaigns .cardItem .values .data .frequenciesMovil table td:first-child {
  min-width: 88px;
  width: 88px;
}

.campaigns .cardItem .values .data .frequenciesMovil table td.name {
  text-transform: capitalize;
}

.campaigns .cardItem .values .data .frequenciesMovil table td.touch {
  text-align: center;
}


.campaigns .cardItem .values .data .frequenciesMovil table th {
  position: sticky;
  top: 0px;
}

.campaigns .cardItem .values #nameOpen .value {
  font-size: 24px;
}

.campaigns .cardItem .values #externalIdOpen {
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.campaigns .cardItem .values #externalIdOpen .value {
  width: auto;
  padding: 8px;
  color: var(--color1);
  font-size: 14px;
  background-color: var(--color2);
  border-radius: 8px;
}

.campaigns .cardItem #sendByDays .value {
  color: var(--blackSqdm);
  font-size: 64px;
}

.campaigns .cardItem .actions {
  width: auto;
  max-width: 100%;
  margin-top: 16px;
  min-height: 40px;
  text-align: center;
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.campaigns .cardItem .actions.spinner {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.campaigns .cardItem .actions .btnAction {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.campaigns .cardItem .actions .btnAction:last-child {
  margin-right: 0px;
}

.campaigns .cardItem .actions #btnCloseOpenCampaign,
.campaigns .cardItem .actions #btnCloseEditCampaign {
  display: none;
}

.campaigns .frequencies {
  display: none;
  width: calc(100% - 34px);
  padding: 16px;
  background-color: var(--color4);
  border: 1px solid var(--color2);
  border-radius: 16px;
  text-align: center;
}

.campaigns .frequencies .label {
  color: var(--texts);
  font-size: 16px;
  margin-bottom: 16px;
}

.campaigns .frequencies .label span {
  color: var(--red);
}

.campaigns .frequencies .frequenciesTab {
  width: auto;
  max-width: calc(100% - 2px);
  background-color: var(--bgInput);
  border: 1px solid var(--color2);
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: auto;
}

.campaigns .frequencies .frequenciesTab table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

.campaigns .frequencies .frequenciesTab table tr {
  background-color: var(--white);
  border-bottom: 1px solid var(--second);
}

.campaigns .frequencies .frequenciesTab table tr:nth-child(1) {
  background-color: var(--color5);
  position: sticky;
  top: 0px;
}

.campaigns .frequencies .frequenciesTab table tr:last-child {
  border-bottom: none;
}

.campaigns .frequencies .frequenciesTab table th,
.campaigns .frequencies .frequenciesTab table td {
  width: calc(calc(100% - 88px) / 4);
  padding: 8px 8px;
  color: var(--texts);
  font-size: 14px;
  text-align: left;
}

.campaigns .frequencies .frequenciesTab table td.name {
  text-transform: capitalize;
}

.campaigns .frequencies .frequenciesTab table td.touch {
  text-align: center;
}

.campaigns .frequencies .frequenciesTab table th:first-child,
.campaigns .frequencies .frequenciesTab table td:first-child {
  width: 88px;
}

.campaigns .frequencies .frequenciesTab table th {
  position: sticky;
  top: 0px;
}

.campaigns .pagination {
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  min-height: 40px;
}

.campaigns.modeOpen .pagination,
.campaigns.modeEdit .pagination {
  display: none;
}

.campaigns .pagination .btnPage {
  margin-right: 8px;
}

.campaigns .pagination .btnPage:last-child {
  margin-right: 0px;
}

@media (min-width: 768px) {
  .campaigns {
    width: calc(100% - 170px);
    max-height: calc(100vh - 82px);
    margin: 24px 24px 24px 112px;
  }

  .campaigns.modeOpen,
  .campaigns.modeEdit {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .campaigns.modeOpen,
  .campaigns.modeEdit {
    position: relative;
    background-color: var(--bg);
    border-color: var(--second);
  }

  .campaigns.modeOpen .navigator .breadCrumb .navItem .appButton:nth-child(1),
  .campaigns.modeEdit .navigator .breadCrumb .navItem .appButton:nth-child(1) {
    display: block;
  }

  .campaigns.modeOpen .navigator .breadCrumb .navItem .appButton:nth-child(2),
  .campaigns.modeEdit .navigator .breadCrumb .navItem .appButton:nth-child(2) {
    display: none;
  }

  .campaigns.modeOpen .navigator .specialActions .action .appButton,
  .campaigns.modeEdit .navigator .specialActions .action .appButton {
    display: block;
  }

  .campaigns.modeOpen .titulation,
  .campaigns.modeEdit .titulation {
    display: block;
  }

  .campaigns .table {
    max-height: calc(100vh - 180px);
  }

  .campaigns .table.pagination {
    max-height: calc(100vh - 236px);
  }

  .campaigns.modeOpen .table,
  .campaigns.modeEdit .table {
    display: none !important;
  }

  .campaigns .cardItem .values {
    max-height: calc(100vh - 248px);
    margin-top: 0px;
  }

  .campaigns .cardItem.pagination .values {
    max-height: calc(100vh - 324px);
  }

  .campaigns .cardItem .values .data,
  .campaigns .cardItem .values .data.edit {
    text-align: left;
  }

  .campaigns .cardItem .values #externalIdOpen {
    align-content: flex-start;
    align-items: flex-start;
  }

  .campaigns .cardItem .values .dates {
    flex-direction: row;
  }

  .campaigns .cardItem .values .dates .data {
    width: auto;
    max-width: calc(50% - 8px);
    margin-bottom: 0px;
  }

  .campaigns .cardItem .values .dates .data:nth-child(2n+1) {
    margin-right: 8px;
  }

  .campaigns .cardItem .values .dates .data:nth-child(2n) {
    margin-left: 8px;
  }

  .campaigns .cardItem .actions {
    text-align: left;
  }

  .campaigns .cardItem .actions #btnCloseOpenCampaign,
  .campaigns .cardItem .actions #btnCloseEditCampaign {
    display: inline-block;
  }

  .campaigns.modeOpen #modeOpen,
  .campaigns.modeEdit #modeEdit {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: calc(100% - 42px);
    max-height: calc(100vh - 194px);
    margin-top: 16px;
    padding: 16px;
    background-color: var(--color4);
    border: 1px solid var(--color2);
    border-radius: 16px;
  }

  .campaigns.modeOpen #modeOpen.pagination,
  .campaigns.modeEdit #modeEdit.pagination {
    max-height: calc(100vh - 268px);
  }

  .campaigns.modeOpen #modeEdit,
  .campaigns.modeEdit #modeOpen {
    display: none;
  }

  .campaigns .frequencies {
    text-align: left;
  }

  .campaigns .pagination {
    justify-content: flex-start;
  }

  .campaigns.modeOpen .pagination,
  .campaigns.modeEdit .pagination {
    display: flex;
  }
}

@media (min-width: 1081px) {
  .campaigns {
    width: calc(100% - 158px);
    max-height: calc(100vh - 66px);
    margin: 16px 24px 16px 106px;
  }

  .campaigns .table {
    max-height: calc(100vh - 160px);
  }

  .campaigns .table.pagination {
    max-height: calc(100vh - 216px);
  }

  .campaigns.modeOpen .table,
  .campaigns.modeEdit .table {
    width: calc(100% - 458px);
  }

  .campaigns.modeOpen #modeOpen,
  .campaigns.modeEdit #modeEdit {
    width: 32%;
    max-height: calc(100vh - 196px);
  }

  .campaigns.modeOpen #modeOpen.pagination,
  .campaigns.modeEdit #modeEdit.pagination {
    max-height: calc(100vh - 252px);
  }

  .campaigns.modeOpen .cardItem .values,
  .campaigns.modeEdit .cardItem .values {
    max-height: calc(100vh - 236px);
  }

  .campaigns .cardItem .values {
    max-height: calc(100vh - 236px);
  }

  .campaigns.modeOpen #modeOpen .values #frecuenciasCard {
    display: none;
  }

  .campaigns .cardItem.pagination .values {
    max-height: calc(100vh - 308px);
  }

  .campaigns .cardItem .values .data .frequencies {
    overflow-x: hidden;
  }

  .campaigns .frequencies {
    display: block;
    width: calc(68% - 84px);
    max-height: calc(100vh - 194px);
    margin-top: 16px;
    margin-left: 16px;
  }

  .campaigns .frequencies .frequenciesTab {
    max-height: calc(100vh - 230px);
  }
}
